# Build
_build
build

# STM32CubeMX
boards/*/generated/cmake
boards/*/generated/CMake*
boards/*/generated/Core
boards/*/generated/Drivers
boards/*/generated/hsperfdata_root
boards/*/generated/.mxproject
boards/*/generated/startup_stm32*.s
boards/*/generated/STM32*_FLASH.ld
boards/*/generated/stm32*_flash.ld

# VS Code
.vscode/*
!.vscode/launch.json